.ani {
	display: flex;
	text-align: left;
	margin-bottom: 30px;
}

.img_d {
	/* margin-top: 10px; */
	margin-left: 20px;
	margin-right: 20px;
	height: 180px;
	width: 130px;
	overflow: hidden;

}

.ani_info {
	width: 65%;
}

.ani_p {
	line-height: 1.03;
}

@media(max-width:368px) {
	.ani {
		display: block;
	}

	.img_d {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.ani_info {
		width: 100%;
	}
}
