/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
/* #page-header.post-bg:before {
  background-color: transparent!important;
} */
/* bf更新到4.0.1之后，使用这个 */
#page-header:not(.not-top-img):before {
    background-color: transparent!important;
}

/* 页脚透明 */
#footer:before {
    background: transparent!important
	/* opacity:0.7; */
}


/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }





 /* 文章页背景 */
.layout_post>#post {
	/* 以下代表透明度为0.8 可以自行修改*/
	background: rgba(255, 255, 255, .8) !important;
	/* opacity:0.7; */
}

/* 所有页面背景 */
 #aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
	background: rgba(255, 255, 255, .8) !important; 
	/* opacity:0.7; */
} 

/*侧边卡片的透明度 */
 :root {
	 --card-bg: rgba(255, 255, 255, .8) !important; 
	 /* opacity:0.7; */
} 

/* 页脚透明 */
/* [data-theme="light"]
	#footer{
	  background: transparent!important;
	} */
 #footer:before {
	 background: rgba(255, 255, 255, .3) !important; 
	/* opacity:0.4; */
}





 #footer-wrap {
	color: #1c305c !important;
}

#footer-wrap a {
	color: #83ccd2 !important;
} 



/* [data-theme="dark"] #aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
	background: rgba(0, 0, 0, .7) !important;
}

[data-theme="dark"] .layout_post>#post {
	 以下代表透明度为0.5 可以自行修改
	background: rgba(0, 0, 0, .7) !important;
}

[data-theme="dark"] :root {
	--card-bg: rgba(0, 0, 0, .7) !important;
}
