@font-face {
  font-family: 'hanyitaozaizijian';
  font-display: swap;/*保证我的字体文件在没有加载完成之前使用默认字体*/
  src: url('/css/fonts/hanyitaozaizijian.ttf') format("truetype");
}

/*全局应用，使用只需增加类*/
.zy_img_shadow{
	border:3px;
	border-radius: 4px;
	box-shadow:1px 1px 5px rgb(0 0 0 / 30%);
	margin:2px;
}




/* #web_bg {
   背景图像的地址（url括号里） 
  background: url(/img/bg_yuki.jpg);
   背景图像不重复 
  background-repeat: no-repeat;
   背景图像大小 
  background-size: cover;
} */




/* 全局默认鼠标指针 */
body,
html {
	cursor: url('./mouse/ania/ania_arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img { 
    /* cursor: url('./mouse/move.cur'), auto !important; */
	cursor: url('./mouse/ania/ania_link.cur'), auto !important;
}
.fancybox__slide{
	cursor: url('./mouse/ania/ania_arrow.cur'), auto !important;
}
.carousel__slide{
	cursor: url('./mouse/ania/ania_link.cur'), auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover,#site-name:hover,.copy-button:hover,.expand:hover {
    cursor: url('./mouse/ania/ania_link.cur'), auto !important;
}
/* 选中输入框时的鼠标指针 */
input:hover, textarea:hover {
    cursor: url('./mouse/ania/ania_texto2.cur'), auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover,.scroll-down-effects:hover {
    cursor: url('./mouse/ania/ania_link.cur'), auto;
}
/* 悬停列表标签时的鼠标指针 */
/* i:hover {
    cursor: url('指定样式cur文件路径'), auto;
} */
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover {
    cursor: url('./mouse/ania/ania_link.cur'), auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover {
    cursor: url('./mouse/ania/ania_link.cur'), auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover {
    cursor: url('./mouse/ania/ania_pen.cur'), auto !important;
}
/* 悬停滚动条的鼠标指针 */
::-webkit-scrollbar:hover{
	cursor: url('./mouse/ania/ania_arrow.cur'), auto!important;
}
/* 悬停评论按钮的鼠标指针 */
.switch-btn,.switch-btn:before,.gt-user-inner,.gt-ico,.gt-user-name,.gt-btn,.vbtn,svg,.at_button{
	cursor: url('./mouse/ania/ania_link.cur'), auto !important;
}
/* 悬停非链接文本时的鼠标指针 */
h1,h2,h3,h4,h5,h6,#subtitle,.content,.line,.post-content p,.post-content li{
	cursor: url('./mouse/ania/ania_texto2.cur'), auto;
}
/* 悬停网易云音乐播放器 */
/* #zy_iframe:hover{
	cursor: url('./mouse/ania/ania_arrow.cur'),auto!important;
} */
/* 悬停文章日期 */
.post-meta-date:hover,.post-meta-date-created:hover{
	cursor: url('./mouse/ania/ania_arrow.cur'), auto!important;
}

/* 添加iconfont */
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1677572544601') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuanldpi:before {
  content: "\e617";
  /* transition: all 0.3s !important; */
}

/* .icon-ziyuanldpi{
	transition: all 0.3s !important;
}

.icon-ziyuanldpi:hover{
	transform:rotate(540deg) !important;
}

